<section class="container pt-5 pb-5">

  <p>Jeśli chcesz zostawić komentarz zaloguj się poprzez rejestrację w zakładce zaloguj się/zarejestruj się</p>

  <div class="row">

    <div class="p-2">

      <%= will_paginate @opinions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

    </div>

      <div class="col-12">

            <%= link_to 'Dodaj', new_opinion_path, class: "btn btn-primary btn-lg" %> <hr/>

          <div class="row pb-5">

              <% @opinions.each do |opinion| %>

                <div class="col-12 col-lg-4 p-2">

                  <div class="card p-2">

                          <div class="card-block text-center pt-3">

                               <h4 class="card-title text-center font-weight-bold pt-3">
                                  <%=opinion.name %>
                               </h4>

                               <p class="card-body text-justify mx-2">
                                  <%=sanitize opinion.description %>
                               </p>                         
                                    
                              <% if current_user && current_user&.admin? %>

                                <div class="p-2">
                                  
                                  <%= link_to 'Edytuj', edit_admin_opinion_path(opinion), class: "btn btn-lg btn-info" %>
                                  <%= link_to 'Usuń', opinion_path(opinion), method: :delete, data: {confirm: 'Czy na pewno usunąć?'}, class: "btn btn-lg btn-danger" %>

                                  </div>

                              <% end %>

                          </div>

                  </div>

                </div>

            <% end %>

          </div>

      </div>

  </div>

</section>

