<section class="container pt-5 pb-5">
  <div class="row">

    <div class="p-2">

      <%= will_paginate @jobs, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

    </div>
    
      <div class="col-12">

            <% if current_user && current_user&.admin? %>

            <%= link_to 'Dodaj', new_job_path, class: "btn btn-primary btn-lg" %> <hr/>

            <% end %>

          <div class="row pb-5">
              <% @jobs.each do |job| %>
                <div class="col-12">
                  <div class="card"> 
                          <div class="card-block text-center">
                               <h4 class="card-title text-center font-weight-bold">
                                  <%=job.name %>
                               </h4>
                               <h4 class="card-title text-justify mx-2">
                                  <%=sanitize job.description %>
                               </h4>
                               <h4 class="card-title text-justify mx-2">
                                  <%=sanitize job.specifications %>
                               </h4>
                               <h4 class="card-title text-justify mx-2">
                                  <%=sanitize job.offer %>
                               </h4>
                               <h4 class="card-title text-justify mx-2">
                                  <%=sanitize job.information %>
                               </h4>                               

                                <% if current_user && current_user&.admin? %>

                                  <div class="p-2">
                                    <%= link_to 'Pokaż', job_path(job), class: "btn btn-lg btn-primary" %>
                                    <%= link_to 'Edytuj', edit_job_path(job), class: "btn btn-lg btn-info" %>
                                    <%= link_to 'Usuń', job_path(job), method: :delete, data: {confirm: 'Czy na pewno usunąć?'}, class: "btn btn-lg btn-danger" %>
                                  </div>
                                <% end %>

                          </div>
                  </div>
                </div>
              <% end %>
          </div>

      </div>
  </div>
</section>
