<section class="container pt-5 pb-5">
  <div class="row">
      <div class="col-12">

  <p class="text-center">
    <%= @job.name %>
  </p>

  <p class="text-justify">
    <%=sanitize @job.description %>
  </p>

  <p class="text-justify">
    <%=sanitize @job.specifications %>
  </p>

  <p class="text-justify">
    <%=sanitize @job.offer %>
  </p>

  <p class="text-justify">
    <%=sanitize @job.information %>
  </p>

  </div>
      </div>

  <div class="pb-5">
      <%= link_to 'Powrót', jobs_path, class: 'btn btn-lg btn-success' %>

    <% if current_user && current_user&.admin? %>

      <%= link_to 'Edytuj', edit_job_path(@job), class: 'btn btn-lg btn-primary' %> 

    <% end %>
  </div>

</section>