<section class="container pt-5 pb-5">
  <div class="row">
      <div class="col-12">

        <p class="text-center">
          <%= @execution.name %>
        </p>

        <p class="text-justify">
          <%=sanitize @execution.description %>
        </p>

      </div>
  </div>

  <div class="row center">

       
          <% @execution.images.each do |image| %>
 <p>
          <%= image_tag image.variant(resize:"450x450") %></p> 

          <% end %> 

        
  </div>

  <div class="pb-5">
      <%= link_to 'Powrót', executions_path, class: 'btn btn-lg btn-success' %>

    <% if current_user && current_user&.admin? %>

      <%= link_to 'Edytuj', edit_execution_path(@execution), class: 'btn btn-lg btn-primary' %> 

    <% end %>
  </div>

</section>