<!DOCTYPE html>
<html>
  <head>
    <title>ConstructionCompany</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="bg-dark">

      <%= render 'shared/header' %>

    </div>

      <%= render 'shared/navigation' %>

      <%= yield %>

      <%= render 'shared/footer' %>

  </body>
</html>
